<div class="header-div p-8 bg-indigo-500">
  <h1 class="font-bold text-center text-white">Shoppable</h1>
  <p class="text-center mt-2 text-white text-lg">Ecommerce for everyone.</p>
</div>
<div class="p-4 bg-pink-500">
  <p class="text-center mt-2 font-bold text-white text-lg">
    Start Managing your store or Get started by creating a store if you don't
    already have one
  </p>
</div>

<div class="flex justify-center p-4">
  <button color="accent" mat-raised-button (click)="login()">
    Login as Merchant
  </button>
  <button color="accent" mat-raised-button (click)="register()">
    Register as Merchant
  </button>
</div>
