@import '~@angular/material/theming';

.clickable:hover {
  @include mat-elevation(8);
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  margin: 1rem;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}