<app-navbar
  title="Orders"
  [user]="merchant"
  [showBackButton]="true"
  userType="MERCHANT"
  backRoute="/merchant/dashboard"
>
</app-navbar>

<div class="p-4">
  <ng-container *ngIf="!!orders && orders.length > 0">
    <div *ngFor="let order of orders" class="m-1">
      <mat-card (click)="editOrder(order)" matRipple class="clickable">
        <mat-card-content>
          <div class="flex justify-between">
            <div>
              <p class="font-bold text-xl m-0">Order: {{ order.entityId }}</p>
              <p class="font-bold m-0">{{ order.items.length }} items</p>
              <p class="font-bold m-0">Status: {{ order.status }}</p>
              <p class="text-gray-500 m-0">
                Placed on: {{ order.createdDate | date }} {{ " | " }} Updated
                on: {{ order.modifiedDate | date }}
              </p>
            </div>
            <div class="flex justify-center items-center">
              <p class="font-bold text-green-500 text-xl m-0">
                {{ order.price | currency: "INR" }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="!orders || orders.length == 0">
    <div class="text-center p-4">
      <p class="text-2xl mb-2 font-bold">No orders found</p>
    </div>
  </ng-container>
</div>
