<app-navbar
  title="Orders"
  [user]="merchant"
  [showBackButton]="true"
  backRoute="/merchant/dashboard"
>
</app-navbar>

<div *ngIf="!!orders && orders.length > 0">
  <div class="flex justify-between px-4 pt-4 align-middle">
    <p class="mx-0 my-auto align-middle font-bold">
      {{ orders.length }} Orders
    </p>
  </div>
  <div class="grid grid-cols-3 p-4">
    <div *ngFor="let order of orders" class="m-1">
      <mat-card (click)="editOrder(order)" matRipple class="clickable">
        <mat-card-header class="ml-0">
          <mat-card-title>{{ order.name }}</mat-card-title>
          <mat-card-subtitle>{{
            order.discountPrice | currency: "INR"
          }}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img matCardImage src="Card wide image source"> -->
        <mat-card-content>
          <p class="font-bold">{{ order.category }}</p>
          {{ order.description }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="text-center p-4" *ngIf="!orders || orders.length == 0">
  <p class="text-2xl mb-2 font-bold">No Orders Present</p>
</div>
