<app-navbar
  title="Product"
  [user]="user"
  [showBackButton]="true"
  userType="CUSTOMER"
  backRoute="/store/{{ shopUniqueName }}"
  [shopUniqueName]="shopUniqueName"
>
</app-navbar>

<div class="grid grid-cols-2 p-4 content-center">
  <div class="p-2">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      [interval]="5000"
      color="accent"
      maxWidth="auto"
      [proportion]="100"
      [slides]="product?.images?.length"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of product.images; let i = index"
        [image]="slide"
        overlayColor="#00000000"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
  </div>
  <div>
    <p class="font-bold text-2xl">
      {{ product.name }}
    </p>
    <p class="text-2xl text-green-500">
      {{ product.discountPrice | currency: "INR" }}
      <span *ngIf="product.discountPrice < product.price">
        <span class="text-red-500 strikethrough text-lg">
          {{ product.price | currency: "INR" }}
        </span>
        <span class="text-gray-500 text-lg">
          ({{
            (product.price - product.discountPrice) / product.price | percent
          }}
          off)
        </span>
      </span>
    </p>
    <p class="text-sm text-gray-500">Category: {{ product.category }}</p>
    <p class="">
      {{ product.description }}
    </p>
    <button
      *ngIf="!addedToCart"
      class="mr-2"
      color="accent"
      mat-raised-button
      (click)="addToCart()"
    >
      Add to Cart
    </button>
    <button
      *ngIf="addedToCart"
      class="mr-2"
      color="accent"
      mat-raised-button
      (click)="goToCart()"
    >
      Go to Cart
    </button>
  </div>
</div>
