<app-navbar
  title="Product"
  [user]="user"
  [showBackButton]="true"
  userType="CUSTOMER"
  backRoute="/store/{{ shopUniqueName }}"
  [shopUniqueName]="shopUniqueName"
>
</app-navbar>

<mat-card matRipple>
  <mat-card-header class="ml-0">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{
      product.discountPrice | currency: "INR"
    }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img matCardImage src="Card wide image source"> -->
  <mat-card-content>
    <p class="font-bold">{{ product.category }}</p>
    {{ product.description }}
  </mat-card-content>
</mat-card>
