<mat-toolbar color="primary">
  <button (click)="back()" *ngIf="showBackButton" mat-button>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span>{{ title }}</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!!user">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>

      {{ user?.name }}
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
